@import '_legend';
@import '_tools';
@import '_grid';

section.min-height {
	min-height: 500px;
}

section.content-full {
	@include column(12);
}

section.content-left, section.content-right {
	@include column(12);
	@media #{$medium} {
		@include column(9);
	}
}

.sidebar-right, .sidebar-left {
	@include column(12);
	@media #{$medium} {
		@include column(3);
	}
}

.content-row {
	@include row(12);
}

.mobile-hidden {
	display: none !important;
	@media #{$medium} {
		display: block !important;
	}
}
table {
	.mobile-hidden {
		@media #{$medium} {
			display: table-cell !important;
		}
	}
}
.tablet-hidden {
	display: none !important;
	@media #{$large} {
		display: block !important;
	}
}
table {
	.tablet-hidden {
		@media #{$large} {
			display: table-cell !important;
		}
	}
}
.mobile-only {
	@media #{$medium} {
		display: none !important;
	}
}

.desktop-hidden {
	@media #{$large} {
		display: none !important;
	}
}
