@import '_legend';
@import '_tools';
/*
* Just Font Families, Colors, Sizes, Weights, Style goes here
*/


a {
	font-family: 'Open Sans', sans-serif;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	color: inherit;
}

p, blockquote, div, span {
	font-family: 'Open Sans', sans-serif;
	@include rfs(11);
	font-weight: 400;
	line-height: 20px;
	color: $dkgrey;
	@media #{$medium} {
		@include rfs(14);
		line-height: 24px;
	}
}

h1 {
	font-family: 'Open Sans', sans-serif;
	line-height: 22px;
	@include rfs(18);
	font-weight: 700;
	color: $dkgrey;
	@media #{$medium} {
		line-height: 29px;
		@include rfs(25);
	}
	@media #{$large} {
		line-height: 37px;
		@include rfs(33);
	}
}

h2 {
	font-family: 'Open Sans', sans-serif;
	line-height: 22px;
	@include rfs(18);
	font-weight: 700;
	color: $dkgrey;
	@media #{$medium} {
		line-height: 27px;
		@include rfs(24);
	}
	@media #{$large} {
		line-height: 36px;
		@include rfs(32);
	}
}

h3 {
	font-family: 'Open Sans', sans-serif;
	line-height: 21px;
	@include rfs(17);
	font-weight: 700;
	color: $dkgrey;
	@media #{$medium} {
		line-height: 27px;
		@include rfs(23);
	}
	@media #{$large} {
		line-height: 34px;
		@include rfs(30);
	}
}

h4 {
	font-family: 'Open Sans', sans-serif;
	line-height: 20px;
	@include rfs(16);
	font-weight: 700;
	color: $dkgrey;
	@media #{$medium} {
		line-height: 25px;
		@include rfs(21);
	}
	@media #{$large} {
		line-height: 32px;
		@include rfs(28);
	}
}

h5 {
	font-family: 'Open Sans', sans-serif;
	line-height: 18px;
	@include rfs(14);
	font-weight: 700;
	color: $dkgrey;
	@media #{$medium} {
		line-height: 23px;
		@include rfs(19);
	}
	@media #{$large} {
		line-height: 30px;
		@include rfs(26);
	}
}

h6 {
	font-family: 'Open Sans', sans-serif;
	line-height: 16px;
	@include rfs(12);
	font-weight: 700;
	color: $dkgrey;
	@media #{$medium} {
		line-height: 23px;
		@include rfs(17);
	}
	@media #{$large} {
		line-height: 28px;
		@include rfs(24);
	}
}

.header, nav, header#header nav a {
	color: $white;
	font-family: 'Open Sans', sans-serif;
	@include rfs(12);
	font-weight: 600;
	letter-spacing: 1.2px;
	text-transform: uppercase;
	a {
		text-decoration: none;
	}
	li.current-menu-item a, a:hover {
		font-weight: 700;
	}
}

.slider-content {
	h2 {
		font-weight: 700;
		color: $white;
		@include rfs(22);
		line-height: 26px;
		letter-spacing: 2px;
		@media #{$medium} {
			@include rfs(38);
			line-height: 42px;
		}
		@media #{$large} {
			letter-spacing: 10px;
			@include rfs(100);
			line-height: 102px;
		}
	}
	h3 {
		font-weight: 700;
		letter-spacing: 1px;
		color: $white;
		@include rfs(11);
		line-height: 13px;
		@media #{$medium} {
			@include rfs(20);
			line-height: 24px;
		}
		@media #{$large} {
			letter-spacing: 5px;
			@include rfs(50);
			line-height: 54px;
		}
	}
	.slider-button a {
		color: $black;
		font-weight: 700;
		@include rfs(10);
		line-height: 12px;
		text-decoration: none;
		text-transform: uppercase;
		@media #{$medium} {
			@include rfs(12);
			line-height: 16px;
		}
		@media #{$large} {
			@include rfs(14);
			line-height: 18px;
		}
		&:hover {
			color: $white;
		}
	}
}

/* Button Styling */
.main-content-button a, 
.button,
section.about p:last-of-type a:last-of-type,
input[type=button],
.woocommerce .product-feed-container ul li a.button,
.woocommerce div.product form.cart .button,
#add_payment_method .wc-proceed-to-checkout a.checkout-button, 
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button, 
.woocommerce-checkout .wc-proceed-to-checkout a.checkout-button {
	color: $white !important;
	font-weight: 700;
	@include rfs(10);
	line-height: 12px;
	text-decoration: none;
	text-transform: uppercase;
	@media #{$medium} {
		@include rfs(12);
		line-height: 16px;
	}
	@media #{$large} {
		@include rfs(14);
		line-height: 18px;
	}
	&:hover {
		color: $black !important;
	}
}

footer#footer {
	.menu-footer-menu-container a {
		@include rfs(10);
		line-height: 12px;
		color: $white;
		@media #{$medium} {
			@include rfs(12);
			line-height: 14px;
		}
		@media #{$large} {
			@include rfs(14);
			line-height: 16px;
		}
		&:hover {
			font-weight: 700;
		}
	}
	.copyright {
		@include rfs(10);
		line-height: 12px;
		color: $white;
	}
}

.product-feed-container {
	a {
		text-decoration: none;
	}
	.product-feed-title {
		color: $dkgrey;
		font-weight: 700;
		@include rfs(12);
		line-height: 14px;
		text-decoration: none;
		text-transform: uppercase;
		@media #{$medium} {
			@include rfs(16);
			line-height: 20px;
		}
		@media #{$large} {
			@include rfs(18);
			line-height: 22px;
		}
	}
}

.nf-form-cont {
	h3 {
		color: $dkgrey;
		@include rfs(11);
		line-height: 13px;
		font-weight: 400;
		@media #{$medium} {
			@include rfs(12);
			line-height: 16px;
		}
		@media #{$large} {
			@include rfs(14);
			line-height: 18px;
		}
	}
	nf-field {
		.nf-field-element{
			input:not([type='button']), textarea {
				color: $dkgrey;
				@include rfs(12);
				line-height: 14px;
				text-decoration: none;
				font-family: 'Open Sans', sans-serif;
				@media #{$medium} {
					@include rfs(12);
					line-height: 16px;
				}
				@media #{$large} {
					@include rfs(14);
					line-height: 18px;
				}
			}
		}
	}
}

.cart-contents {
	.cart-contents-count {
		font-family: 'Open Sans', sans-serif;
		color: $white;
		font-weight: 700;
	}
}
/* woocommerce */
.woocommerce {
	nav {
		font-family: 'Open Sans', sans-serif;
		color: $dkgrey;
	}
	.product {
		.summary {
			p.price {
				color: $dkgrey;
				ins {
					text-decoration: none;
					span {
						color: $dkgrey;
						font-family: 'Open Sans', sans-serif;
						@include rfs(18);
						line-height: 20px;
						font-weight: 700;
						letter-spacing: 0.9px;
						@media #{$medium} {
							@include rfs(20);
							line-height: 22px;
						}
						@media #{$large} {
							@include rfs(22);
							line-height: 24px;
						}
					}
				}
				del {
					span {
						color: $ltgrey;
						font-family: 'Open Sans', sans-serif;
						font-weight: 700;
						letter-spacing: 0.6px;
						@include rfs(12);
						line-height: 24px;
						@media #{$medium} {
							@include rfs(13);
							line-height: 15px;
						}
						@media #{$large} {
							@include rfs(14);
							line-height: 16px;
						}
					}
				}
			}
			form.cart {
				div.quantity {
					input[type="number"]{
					}
					span.up-arrow, span.down-arrow {
						color: $ltmdgrey;
					}
				}
			}
		}
	}
}

