@import '_legend';
@import '_tools';
@import '_grid';

.back-to-top {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 40px;
    bottom: 50px;
    z-index: 500;
    span {
        height: 16px;
        width: 2px;
        background-color: $white;;
        position: absolute;
        content: '';
        top: 0px;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        @include rounded-corners(5px);
       &:before, &:after{
            height: 2px;
            width: 10px;
            background-color: $white;;
            position: absolute;
            content: '';
            top: -10px;
            bottom: 0;
            margin: auto;
            @include rounded-corners(5px);
        }
        &:before{
            @include transform(rotate(-45deg));
            right: -1px;
        }
        &:after{
            @include transform(rotate(45deg));
            left: -1px;
        }
    }
}

footer#footer {
    background: $black;
    position: relative;
    .footer-logo {
        width: 100%;
        text-align: center;
        img {
            max-width: 120px;
            margin: 30px auto;
            display: inline-block;
            width: auto;
            @media #{$medium} {
                max-width: 170px;
            }
            @media #{$large} {
                max-width: 100%;
            }
        }
    }

    .menu-footer-menu-container {
        ul {
            margin: 20px 0 40px 0;
            padding: 0;
            width: 100%;
            @include displayFlex();
            @include flexWrap(wrap);
            @include justifyContent(center);
            li {
                display: inline-block;
                padding: 0 5px;
                @media #{$medium} {
                    padding: 0 15px;
                }
                @media #{$large} {
                    padding: 0 30px;
                }
            }
        }
    }

    .sidebar-social-media {
        width: 100%;
        text-align: center;
        margin-bottom: 40px;
        .widget_media_image {
            display: inline-block;
            padding: 0 7px;
        }
    }

    .copyright {
        background: $dkgrey;
        text-align: center;
        padding: 12px 0;
        border-top: 1px solid $white;
    }
}