@import '_legend';
@import '_tools';
@import '_grid';

.back-to-top {
    display: block;
    width: 61px;
    height: 61px;
    position: fixed;
    right: 40px;
    bottom: 120px;
    z-index: 500;
    background-color: #369;
    @include rounded-corners(50%);
    &:before, &:after{
        height: 7px;
        width: 20px;
        background-color: #fff;
        position: absolute;
        content: ' ';
        top: 0px;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        @include rounded-corners(5px);
    }
    &:before{
        @include transform(rotate(-45deg));
        right: 10px;
    }
    &:after{
        @include transform(rotate(45deg));
        left: 10px;
    }
}