@import '_legend';
@import '_tools';
@import '_grid';

// Button Styling
.main-content-button a, button {
	background: $black;
	padding: 8px 30px;
	@include transition(all 0.15s ease);
	display: inline-block;
	border: 1px solid $black;
	@media #{$medium} {
		padding: 14px 45px;
	}
	@media #{$large} {
		padding: 20px 60px;
	}
	&:hover {
		background: $white;
	}
}

.front-page-content {
	article {
		@include displayFlex();
		@include flexWrap(wrap);
		.main-content {
			width: 100%;
			@include displayFlex();
			@include flexWrap(wrap);
			@include alignItems(center);
			padding: 10 12px;
			@media #{$medium} {
				width: 50%;
				@include order(2);
				padding: 20px 5%;
			}
			h1 {
				text-align: center;
				width: 100%;
			}
			.main-content-button {
				text-align: center;
				margin-top: 20px;
				width: 100%;
				@media #{$medium} {
					margin-top: 40px;
				}
				@media #{$large} {
					margin-top: 80px;
				}
			}
		}

		.homepage-image {
			width: 100%;
			display: block;
			@media #{$medium} {
				width: 50%;
			}
			img {
				width: 100%;
			}
		}
	}
}
