@import '_legend';
@import '_tools';
@import '_grid';

/* BEGIN align footer bottom  */
html, body {
	width: 100%;
	height: 100%;
}

#container {
	min-height: 100%;
	@include displayFlex();
	@include flexDirection(column);
	@include alignItems(stretch);
}

main {
	@include flexGrow(1);
}

header, main, footer {
	@include flexShrink(0);
}
/* END align footer bottom  */


/* Button Styling */
.main-content-button a, 
.button,
section.about p:last-of-type a:last-of-type,
input[type=button],
.woocommerce .product-feed-container ul li a.button,
.woocommerce div.product form.cart .button,
#add_payment_method .wc-proceed-to-checkout a.checkout-button, 
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button, 
.woocommerce-checkout .wc-proceed-to-checkout a.checkout-button {
	background: $black !important;
	padding: 8px 30px !important;
	@include transition(all 0.15s ease);
	display: inline-block;
	border: 1px solid $black;
	@include rounded-corners(5px);
	height: auto;
	@media #{$medium} {
		padding: 14px 45px !important;
	}
	@media #{$large} {
		padding: 20px 60px !important;
	}
	&:hover {
		background: $white !important;
	}
}

/* Homepage */
.front-page-content {
	article {
		@include displayFlex();
		@include flexWrap(wrap);
		.main-content {
			width: 100%;
			@include displayFlex();
			@include flexWrap(wrap);
			@include alignItems(center);
			padding: 10px 12px;
			@media #{$medium} {
				width: 50%;
				@include order(2);
				padding: 20px 5%;
			}
			h1 {
				text-align: center;
				width: 100%;
			}
			.main-content-button {
				text-align: center;
				margin-top: 20px;
				width: 100%;
				@media #{$medium} {
					margin-top: 40px;
				}
				@media #{$large} {
					margin-top: 80px;
				}
			}
		}

		.homepage-image {
			width: 100%;
			display: block;
			@media #{$medium} {
				width: 50%;
			}
			img {
				width: 100%;
			}
		}
	}
}

/* Product Feed */
.product-feed-container {
	margin: 20px 0;
	display: inline-block;
	width: 100%;
	@media #{$medium} {
		margin: 30px 0;
	}
	@media #{$large} {
		margin: 50px 0;
	}
	ul {
		padding: 0;
		margin: 0;
		li {
			list-style: none;
			@include column(6);
			margin-top: 10px;
			margin-bottom: 10px;
			@media #{$medium} {
				@include column(3);
			}
			&:nth-of-type(2n+1) {
				clear: left;
				@media #{$medium} {
					clear: none;
				}
			}
			a {
				display: inline-block;
				text-align: center;
				width: 100%;
				.product-feed-image-container {
					width: 100%;
					display: block;
					text-align: center;
					img {
						display: inline-block;
						width: 100%;
					}
				}
				.product-feed-title {
					width: 100%;
					display: block;
					margin: 10px 0;
				}
			}
		}
	}
}

/* cms-pages */
section.cms-pages {
	h1 {
		width: 100%;
		text-align: center;
	}
}

/* about */
section.about {
	p:last-of-type {
		text-align: center;
		a:last-of-type {
			margin: 20px auto;
			display: inline-block;
			@media #{$medium} {
				margin: 30px auto;
			}
			@media #{$large} {
				margin: 50px auto;
			}
		}
	}
}

/* membership */
.membership-content-container {
	text-align: center;
}

/* woocommerce */
.woocommerce {
	margin-top: 20px;
	margin-bottom: 20px;
	@media #{$large} {
		margin-top: 40px;
		margin-bottom: 40px;
	}
	span.onsale {
		background: $dkgrey !important;
		width: 30px;
		height: 30px;
		@include displayFlex();
		@include justifyContent(center);
		@include alignItems(center);
	}
	div.product {
		.summary {
			p.price {
				@include displayFlex();
				ins {
					@include order(1);
				}
				del {
					@include displayFlex();
					@include alignItems(baseline);
					@include order(2);
					> span {
						padding-left: 10px;
					}
				}
			}
		}
		div.images .flex-control-thumbs li {
			width: calc(33.33% - 6px) !important;
			margin-top: 10px !important;
			@media #{$medium} {
				margin-top: 20px !important;
				width: calc(33.33% - 12px) !important;
			}
			&:nth-of-type(3n+1) {
				margin-right: 6px;
				@media #{$medium} {
					margin-right: 12px;
				}
			}
			&:nth-of-type(3n+2) {
				margin-right: 3px;
				margin-left: 3px;
				@media #{$medium} {
					margin-right: 6px;
					margin-left: 6px;
				}
			}
			&:nth-of-type(3n+3) {
				margin-left: 6px;
				@media #{$medium} {
					margin-left: 12px;
				}
			}
			img {
				border: 1px solid transparent;
				&.flex-active {
					border: 1px solid $mdgrey;
				}
			}
		}
		form.cart {
			@include displayFlex();
			@include alignItems(center);
			div.quantity {
				@include displayFlex();
				@include order(2);
				padding-left: 10px;
				position: relative;
				height: 51px;
				width: 79px;
				@include rounded-corners(5px);
				input[type="number"]{
					height: 50px;
					width: 70px;
					padding-right: 30px;
					border: 1px solid $ltmdgrey;
					@include rounded-corners(5px);
				}
				input[type=number]::-webkit-inner-spin-button, 
				input[type=number]::-webkit-outer-spin-button { 
					-webkit-appearance: none; 
					margin: 0; 
				}
				span.up-arrow, span.down-arrow {
					position: absolute;
					height: 26px;
					width: 30px;
					right: 0;
					z-index: 100;
					border-left: 1px solid $ltmdgrey;
					cursor: pointer;
					@include displayFlex();
					@include alignItems(center);
					@include justifyContent(center);
				}
				span.up-arrow {
					top: 0;
					border-bottom: 1px solid $ltmdgrey;
				}
				span.down-arrow {
					bottom: 0;
					border-top: 1px solid $ltmdgrey;
				}
			}
		}
	}


	section.related {
		h3.title {
			width: 100%;
			display: inline-block;
			margin: 20px 0 0 0;
			text-align: center;
		}
		.products.columns-4 {
			@include row(12);
		}
	}
	.woocommerce-form__label #rememberme {
		margin-left: 20px;
	}
}